@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

@import "assets/css/index.css";
@import "assets/css/gallery.css";

:root {
  /* ===== COLOURS ===== */
  --colour-bg: #fff;
  --colour-sec: #e1f5fe;
  --colour-accent: #2e2e69;
  --colour-text: #002041;

  /* ===== SPACING ===== */
  --spacing-xs: 12px;
  --spacing-md: 20px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 96px;

  /* ===== TYPOGRAPHY ===== */
  --font-main: "Montserrat", sans-serif;
  --font-sec: "Quicksand", sans-serif;
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.75rem;
  --font-size-ui: 1rem;
  --font-size-xs: .875rem;
  --font-weight-bold: 700;
  --font-weight-md: 550;
  --font-weight-light: 400;

  /* ===== COMPONENTS ===== */
  --border-radius: 24px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 90vh;
    background: var(--colour-bg);
    color: var(--colour-text);
    font-family: var(--font-sec);
}

a{
    text-decoration: none;
}

h2{
        font-family: var(--font-main);
    text-align: center;
    text-transform: uppercase;
}

img{
    width: 100%;
}

.btn{
    padding: var(--spacing-xs) var(--spacing-md);
    background: var(--colour-accent);
    color: var(--colour-bg);
    font-weight: var(--font-weight-md);
    border-radius: var(--border-radius);
}
